---
---

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.4;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

$text-color: #2e2d2d;
$bg-color: #ecf0f1;
$brand-color: #3498db;
$brand-color-accent: #8e44ad;

$font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Lato, Helvetica,
  Arial, sans-serif;
$font-mono: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;

body {
  font-family: $font;
  background-color: $bg-color;
}

pre {
  overflow-x: scroll;
  max-width: 100%;
  font-family: $font-mono;
}

a {
  color: $brand-color;

  &:visited {
    color: $brand-color-accent;
  }
}

.container {
  display: block;

  max-width: 60rem;
  margin: 0 auto;

  background-color: darken($color: #fff, $amount: 2%);
  color: $text-color;

  @media (min-width: 992px) {
    display: grid;
    grid-template-columns: 0rem repeat(3, 1fr) 0rem;
    grid-gap: 0 1rem;
    grid-template-areas:
      "header header header header header"
      ". content content sidebar .";

    box-shadow: 0 0 0.1rem lighten($text-color, 10%);

    margin: 1rem auto;
  }
}

.site-header {
  grid-area: header;
  background-color: $brand-color;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;

  h1 {
    font-size: 0.8rem;
  }

  a {
    color: darken($brand-color, 30%);
    text-decoration: none;
    font-family: $font-mono;

    &::before {
      content: "$> ";
    }
  }
}

.meta {
  color: lighten($text-color, 30%);
  font-weight: bold;
}

main {
  grid-area: content;
  max-width: 100%;
  padding: 0 1rem;
  margin-bottom: 2rem;

  @media (min-width: 992px) {
    padding: 0;
    margin-bottom: 0;
  }
}

.blog-post {
  header {
    padding-bottom: 1rem;

    code {
      font-size: 1.3em;
      letter-spacing: -0.05em;
    }

    a {
      color: $text-color;
      text-decoration: none;
      line-height: 1em;
    }
  }

  .post-content {
    * + * {
      margin-top: 0.5rem;
    }

    h2 {
      padding: 1rem 0 0.2rem 0;
    }

    pre {
      max-width: 100%;
      margin: 0 -0.5rem;
      padding: 0.5rem;

      @media (min-width: 992px) {
        margin: 0 -1rem;
        padding: 0.5rem 1rem;
      }
    }
  }
}

.extras {
  border-top: 0.25rem solid $brand-color;
  padding: 1rem 0.5rem;

  @media (min-width: 992px) {
    padding-top: 0;
  }
}

.hire-me {
  background-color: lighten($brand-color, 30%);
  padding: 1rem 0.5rem;

  * + * {
    margin-top: 0.5rem;
  }

  @media (min-width: 992px) {
    margin-bottom: 1rem;
  }
}

.post-excerpt {
  margin-bottom: 1rem;

  & + & {
    margin-top: 3rem;
  }
}

.archive {
  margin-bottom: 1rem;

  h2 {
    line-height: 1em;
    margin-bottom: 1rem;
  }

  ul {
    list-style-type: none;
  }

  date {
    display: block;
    font-size: 0.8em;
  }

  .archive-list {
    li + li {
      margin-top: 0.5rem;
    }
  }

  * + h3 {
    margin-top: 1rem;
  }
}

@media (min-width: 992px) {
  .extras {
    border: 0;
  }

  .hire-me {
    padding: 0.5rem;
    border-radius: 0.25rem;
  }
}

.sidebar {
  grid-area: sidebar;
}
