---
title: Post archive
---

<section class="archive">
  <h2>Chronological post archive</h2>

{% assign year = false %}
{% assign first = true %}

{% for post in site.posts reversed %}
  {% capture curr_year %}{{ post.date | date: "%Y "}}{% endcapture %}

  {% if year != curr_year %}

    {% if first %}
      {% assign first = false %}
    {% else %}
      </ul>
    {% endif %}

    {% assign year = curr_year %}
    <h3 id="year-{{ curr_year }}">{{ curr_year }}</h3>
      <ul class="archive-list">
  {% endif %}

        <li>
          <date class="meta">{{ post.date | date: site.date_format }}</date>
          <a href="{{ post.url }}">{{ post.title }}</a>
        </li>
{% endfor %}
      </ul>

</section>
