{% if site.posts.size > 0 and page.name != "index.html" and page.name !=
"archive.html" %}
<section class="pb-4">
  <b>Latest posts</b>

  <ul class="sidebar-links">
    {% for post in site.posts limit:site.latest_posts_num %}
    <li>
      <a href="{{ post.url }}">{{ post.title }}</a>
      <span class="date">{{ post.date | date: site.date_format }}</span>
    </li>
    {% endfor %}
  </ul>
</section>
{% endif %}

<section class="pb-4">
  <b>Elsewhere</b>
  <ul class="sidebar-links">
    <li>
      <a href="https://www.github.com/{{ site.username.github }}">GitHub</a>
    </li>
    <li>
      <a href="https://linkedin.com/in/{{ site.username.linkedin }}"
        >LinkedIn</a
      >
    </li>
  </ul>
</section>

<section class="pb-4">
  <b>Other stuff</b>
  <ul class="sidebar-links">
    <li><a href="/">Home</a></li>
    <li><a href="/feed.xml">RSS feed</a></li>
    <li><a href="/archive/">Full post archive</a></li>
  </ul>
</section>
