---
---

@font-face {
    font-family: 'source-code';
    src: url('SourceCodePro-Extralight.eot');
    src: url('SourceCodePro-Extralight.eot?#iefix') format('embedded-opentype'),
         url('SourceCodePro-Extralight.otf.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'source-code';
    src: url('SourceCodePro-Light.eot');
    src: url('SourceCodePro-Light.eot?#iefix') format('embedded-opentype'),
         url('SourceCodePro-Light.otf.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'source-code';
    src: url('SourceCodePro-Regular.eot');
    src: url('SourceCodePro-Regular.eot?#iefix') format('embedded-opentype'),
         url('SourceCodePro-Regular.otf.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'source-code';
    src: url('SourceCodePro-Semibold.eot');
    src: url('SourceCodePro-Semibold.eot?#iefix') format('embedded-opentype'),
         url('SourceCodePro-Semibold.otf.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'source-code';
    src: url('SourceCodePro-Bold.eot');
    src: url('SourceCodePro-Bold.eot?#iefix') format('embedded-opentype'),
         url('SourceCodePro-Bold.otf.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'source-code';
    src: url('SourceCodePro-Black.eot');
    src: url('SourceCodePro-Black.eot?#iefix') format('embedded-opentype'),
         url('SourceCodePro-Black.otf.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}
