<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>
      {% if page.title %}{{ page.title | append: " - " }}{% endif %}{{
      site.title }}
    </title>
    <meta content="{{ site.title }}" property="og:site_name" />
    <meta name="description" content="{{ site.description }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="/css/jumoel.css" />
    <link rel="stylesheet" href="/css/sourcecode.css" />
    <link rel="alternate" type="application/rss+xml" href="/feed.xml" />
  </head>
  <body>
    <div class="container">
      <header class="site-header">
        {% include header.html %}
      </header>
      <main>
        {{ content }}
      </main>

      <section class="sidebar">
        <aside class="extras">
          {% include sidebar.html %}
        </aside>

        <aside class="hire-me">
          {% include advert.html %}
        </aside>
      </section>
    </div>
  </body>
</html>
