---
layout: default
---

<section class="row">
  <main class="content-main col-md-7">
    {{ content }}
  </main>

  <nav class="nav-side col-md-4 col-md-push-1">
    <section>
      <a href="/">Home</a>
    </section>

    <section>
      <b>Latest posts</b>

      <ul class="latest-posts post-list">
        {% for post in site.posts limit:site.latest_posts_num %}
          <li><a href="{{ post.url }}">{{ post.title }}</a> <span class="date">{{ post.date | date: site.date_format }}</span></li>
        {% endfor %}
      </ul>

      {% if site.posts.size > site.latest_posts_num %}
        <a href="/archive.html">View full post archive</a>
      {% endif %}
    </section>


    <section>
      <b>Elsewhere</b>
      <ul class="contact-links">
        <li><a href="https://www.twitter.com/jumoel">twitter</a></li>
        <li><a href="https://www.github.com/jumoel">github</a></li>
        <li><a href="mailto:contact-jumoel-com@julianmoeller.dk">email</a></li>
      </ul>
    </section>
  </nav>
</section>
